[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/powerline"]
	path = home/.vim/bundle/powerline
	url = git://github.com/Lokaltog/powerline.git
