[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/powerline"]
	path = home/.vim/bundle/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/salt.vim"]
	path = home/.vim/bundle/salt.vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "home/.vim/bundle/vim-go"]
	path = home/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
